# Node/Bolt/Basics
node_modules/
dist/*
!dist/index.html
!dist/style.css
!dist/main.js
!dist/assets/
!dist/assets/icons/.gitkeep
!dist/assets/logos/.gitkeep
!dist/assets/json/.gitkeep
.env
*.log
*.tmp
.DS_Store
